.container {
  height: 100vw;
  padding: 20px;

  background: linear-gradient(to left, #eff, #ffe);
  color: #222;
}

.primary-header {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2px;
}

.item {
  margin: 4px;
  padding: 8px;
  border-radius: 4px;
  background: #ddd;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.item > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item > span > a {
  color: inherit;
}
