.container {
    min-height: 100vw;
    padding: 20px;

    background: linear-gradient(to left, #eff, #ffe);
    color: #222;
}

.primary-header {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2px;
}

.item {
    margin: 4px;
    padding: 8px;
    border-radius: 4px;
    background: #ddd;
    list-style: none;
    display: flex;
    align-items: center;
}

.item > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item > span > a {
    color: inherit;
}

.button {
    background: transparent;
    border: 2px solid #222;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}

.button:hover {
    color: #eee;
    background: #222;
    border: 4px solid #888;
}

.searchForm {
    padding: 10px 0;
    display: flex;
    align-items: baseline;
}

.searchLabel {
    padding: 8px;
}

.searchInput {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 8px;
}

.searchForm > .button {
    margin-left: 8px;
}
